/********/
/* Capa */
/********/
div#capa {
	background-image: url('../images/xmas/background_1024x768.jpg');
}

h1.capa-titulo {
	color: #CCA300;
	font-family: PWGroovy;
}

div#capa-mensagem {
	color: #663300;
	background-color: #FFFFFF;
	font-family: PWGroovy_pt-br;
	font-size: small;
	border: 5px solid #CCA300;
	padding: 1px;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

div#mensagem-final-texto {
	color: #663300;
	background-color: #FFFFFF;
	font-family: PWGroovy_pt-br;
	font-size: small;
	border: 5px solid #CCA300;
	padding: 1px;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

div#mensagem-final {
	background-image: url('../images/xmas/background_1024x768.jpg');
}

p#capa-footer {
	color: #FFFFFF;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: large;
}

/************/
/* Produtos */
/************/

div#product {
	background-image: url('../images/xmas/background_1024x768.jpg');
}
div#title {
	position: relative;
	width: 33%;
	float: right;
	top: -50px;

	color: #663300;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: xx-large;
}

hr {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 2px;
	border: 0 none;
	width: 100%;
	text-align: right;
	margin: 0 0 0 auto;
}

.round {
	border: 5px solid #CCA300;
	padding: 1px;
	background-color: #FFFFFF;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

div#photo {
	width: 600px;
	margin-left: 33%;
	margin-right: 33%;
}

img#imgProduct {
	width: 600px;
	height: 400px;
}

div#description {
	position: relative;
	width: 600px;
	float: left;
	color: #FFFFFF;
	background-color: #CCA300;

	font-family: PWGroovy_pt-br;

	margin-left: 33%;
	margin-right: 33%;

	border: 1px;
}
div#price {
	position: relative;
	width: 33%;
	float: left;
	top: 50px;

	color: #FFFFFF;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: xx-large;
}
