/* 1024x768 */
/* 1280x960 */
/* 1600x1200 */
/* 1680x1050 */
/* 2560x1600 */
/* @media handheld, only screen and (max-width: 2200px) { */
/* 	.div-test-color { */
/* 		background-color: red; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1024x768.jpg'); */
/* 	} */
/* } */
/* @media handheld, only screen and (max-width: 1200px) { */
/* 	.div-test-color { */
/* 		background-color: green; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1600x1200.jpg'); */
/* 	} */
/* } */
/* @media handheld, only screen and (max-width: 1024px) { */
/* 	.div-test-color { */
/* 		background-color: blue; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1600x1200.jpg'); */
/* 	} */
/* } */
/* @media handheld, only screen and (max-width: 767px) { */
/* 	.div-test-color { */
/* 		background-color: yellow; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1024x768.jpg'); */
/* 	} */
/* } */
/* @media handheld, only screen and (max-width: 600px) { */
/* 	.div-test-color { */
/* 		background-color: gray; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1024x768.jpg'); */
/* 	} */
/* } */
/* @media handheld, only screen and (max-width: 500px) { */
/* 	.div-test-color { */
/* 		background-color: white; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1024x768.jpg'); */
/* 	} */
/* } */
/* @media screen and (-webkit-min-device-pixel-ratio:0) { */
/* 	.div-test-color { */
/* 		background-color: black; */
/* 	} */
/* 	.xmas-background { */
/* 		background-image: url('../images/xmas/background_1024x768.jpg'); */
/* 	} */
/* } */

/********/
/* Capa */
/********/
.xmas-background {
	/* background-image: url('../images/xmas/background.svg'); */
	background-image: url('../images/xmas/background_1024x768.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

h1.capa-titulo {
	color: #CCA300;
	font-family: PWGroovy;
}

div#capa-mensagem {
	color: #663300;
	background-color: #FFFFFF;
	font-family: PWGroovy_pt-br;
	font-size: small;
	border: 5px solid #CCA300;
	padding: 1px;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

div#mensagem-final-texto {
	color: #663300;
	background-color: #FFFFFF;
	font-family: PWGroovy_pt-br;
	font-size: small;
	border: 5px solid #CCA300;
	padding: 1px;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

/* div#mensagem-final { */
/* 	background-image: url('../images/xmas/background_1024x768.jpg'); */
/* } */

p#capa-footer {
	color: #FFFFFF;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: large;
}

/************/
/* Produtos */
/************/
div#title {
	position: relative;
	width: 33%;
	float: right;
	top: -50px;

	color: #663300;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: xx-large;
}

hr {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 2px;
	border: 0 none;
	width: 100%;
	text-align: right;
	margin: 0 0 0 auto;
}

.round {
	border: 5px solid #CCA300;
	padding: 1px;
	background-color: #FFFFFF;

	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
}

div#photo {
	width: 600px;
	margin-left: 33%;
	margin-right: 33%;
}

img#imgProduct {
	width: 600px;
	height: 400px;
}

div#description {
	position: relative;
	width: 600px;
	float: left;
	color: #FFFFFF;
	background-color: #CCA300;

	font-family: PWGroovy_pt-br;

	margin-left: 33%;
	margin-right: 33%;

	border: 1px;
}
div#price {
	position: relative;
	width: 33%;
	float: left;
	top: 50px;

	color: #FFFFFF;
	background-color: #CCA300;
	font-family: PWGroovy_pt-br;
	font-size: xx-large;
}
