<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
	<meta name="author" content="Jefferson Campos" />
    <meta name="description" content="Site da Gijoka Doces com bolos, trufas, doces finos e mais!" />
    <meta name="keywords" content="doce,bolo,trufa,cupcake,doces finos,festa,sobremesas" />
    <meta name="Resource-type" content="Document" />

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css" />
	<link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    
	<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
